<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Japanese Translator</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>

  <body>
    <div class="container">
      <div class="translation-column">
        <h1 style="display: flex; align-items: center; gap: 10px">
          Communication Breakdown
        </h1>
        <h3 id="description">
          A Japanese to English Translation and Linguistic Breakdown Tool
        </h3>
        <h2>
          Target Text
          <button id="try-me-btn" style="font-size: 0.8em; padding: 6px 12px">
            Try Me!
          </button>
        </h2>

        <textarea
          id="input-text"
          placeholder="Enter Japanese text here..."
        ></textarea>
        <button id="translate-btn">Translate</button>
        <h2>Translation</h2>
        <textarea  id="translation-output" readonly style="pointer-events: none;"></textarea>
      </div>

      <div class="breakdown-column">
        <div class="breakdown-header">
          <h2>Linguistic Breakdown</h2>
          <label class="checkbox-label" for="breakdown-type">
            <input
              type="checkbox"
              id="breakdown-type"
              name="breakdown-type"
              value="toggled"
            />
            Toggle extended breakdown
            <div class="tooltip">
              ❓
              <span class="tooltiptext"i
                >When checked, shows detailed dictionary entries with multiple
                definitions, readings, and JLPT levels for each word.</span
              >
            </div>
          </label>
        </div>
        <div id="breakdown-output"></div>
      </div>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
  </body>
</html>
